<script setup>
import TheAvatar from "@/components/TheAvatar.vue";
import AppNewConversation from "@/components/AppNewConversation.vue";
import AppNewChatModal from "@/components/AppNewChatModal.vue";
import TheLogoutBtn from "@/components/TheLogoutBtn.vue";
import TheChatList from "@/components/TheChatList.vue";
import TheMessageInput from "@/components/TheMessageInput.vue";
import MessagesFeed from "@/components/MessagesFeed.vue";
import { ref, provide, computed, watch, onBeforeMount } from "vue";
import { useStore } from "vuex";
import { findById } from "@/helpers";

const store = useStore();
const emit = defineEmits(["ready"]);

//data
const showModal = ref(false);
const message = ref("");

//computed
const selectedChat = computed(() => {
  if (store.state.chats.selectedChatId === 0) return { id: 0 };
  return findById(store.state.chats.items, store.state.chats.selectedChatId);
});

const authUser = computed(() => {
  return store.state.users.authUser;
});

const messagesList = computed(() => {
  return store.state.messages.items;
});

const chatList = computed(() => {
  return store.state.chats.items;
});

const authUserUnsubscribe = computed(() => {
  return store.state.auth.authUserUnsubscribe;
});

// methods
async function setup() {
  console.log("setup");
  await store.dispatch("chats/fetchUserChats").catch((error) => {
    console.error(error);
  });
  emit("ready");
}

//watchers
const unWatchAuthUser = watch(authUser, async () => {
  console.log("watch auth user change");
  if (!authUserUnsubscribe.value) await setup();
  else unWatchAuthUser();
});

watch(selectedChat, async (newValue, oldValue) => {
  console.log("selected chat change");
  console.log("selectedChat.value: ", selectedChat.value);
  if (newValue.id !== oldValue?.id)
    await store.dispatch("messages/fetchChatMessages", { chat: selectedChat.value });
});

// life cycle hooks
onBeforeMount(async () => {
  await setup();
});

//providers
provide("showModal", showModal);
provide("selectedChat", selectedChat);
</script>
<template>
  <div class="content">
    <!-- lef -->

    <aside class="left">
      <header>
        <div class="logo">
          <h2 class="logo-text__sm">VueChat</h2>
        </div>

        <!-- user avatar -->
        <TheAvatar />

        <!-- logout button -->

        <TheLogoutBtn />
      </header>

      <!-- contact container -->
      <div class="contact">
        <div class="contact-container">
          <div class="search">
            <input type="text" placeholder="search a conversation" />
          </div>
          <div class="contact-list">
            <!-- new conversation -->
            <AppNewConversation />
            <AppNewChatModal />

            <TheChatList :chatList="chatList" />
          </div>
        </div>
      </div>
    </aside>
    <main>
      <!-- workspace -->
      <div class="message-space">
        <MessagesFeed :messagesList="messagesList" />

        <!-- msg input -->
        <TheMessageInput @on-input-message="(value) => (message = value)" />
      </div>
    </main>
  </div>
</template>

<style lang="scss" scoped></style>
