<script setup>
import AppInput from "@/components/AppInput.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { onMounted, reactive, ref } from "vue";
import useNotifications from "@/composables/useNotifications";

const { addNotification } = useNotifications();
const store = useStore();
const router = useRouter();
const form = reactive({
  email: "",
  password: "",
});
const loading = ref(false);
const emit = defineEmits(["ready"]);

const handleSubmit = async () => {
  try {
    loading.value = true;
    await store.dispatch("auth/signInWithEmailAndPassword", form).then(() => {
      router.push({ name: "ChatApp" });
    });
  } catch (error) {
    addNotification({ message: error, type: "error" });
  }
  loading.value = false;
};
const inputConfigs = [
  {
    inputType: "email",
    placeholder: "nzima.ivan.franck@gmail.com",
    label: "Email",
  },
  {
    inputType: "password",
    placeholder: "7X7n7@i8b5Cw",
    label: "Password",
  },
];

onMounted(() => {
  emit("ready");
});
</script>

<template>
  <div class="container">
    <div class="landing relative">
      <h1 class="logo-text">VueChat</h1>
      <div class="landing-img-container">
        <div class="img"></div>
      </div>
    </div>

    <div class="main">
      <div class="techno-logo">
        <div class="techno-logo__vue-js"></div>
        <span class="copy-1">+</span>
        <div class="techno-logo__fire-base"></div>
      </div>
      <div class="sign-up">
        <div class="sign-up__title">
          <h2>Connect To Your Account</h2>
          <p class="copy-2 font-mono">
            Do'nt have an account ?
            <span class="btn-text font-mono">
              <RouterLink to="/signup">Create one</RouterLink>
            </span>
          </p>
        </div>

        <form @submit.prevent="handleSubmit" class="sign-up__form">
          <AppInput
            @on-input="(value) => (form.email = value)"
            v-bind="inputConfigs[0]"
          />
          <AppInput
            @on-input="(value) => (form.password = value)"
            v-bind="inputConfigs[1]"
          />

          <button type="submit" class="copy-2 btn btn-primary">
            {{ loading ? "Logging In ..." : "Log In" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
