<script setup>
import AppInput from "@/components/AppInput.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { reactive, ref } from "vue";
import useNotifications from "@/composables/useNotifications";

const { addNotification } = useNotifications();

const store = useStore();
const router = useRouter();

const form = reactive({
  username: "",
  email: "",
  password: "",
});
const loading = ref(false);

const handleSubmit = async () => {
  try {
    loading.value = true;
    await store.dispatch("auth/registerUserWithEmailAndPassword", form).then(() => {
      router.push({ name: "ChatApp" });
    });
  } catch (error) {
    console.error("error", error);
    addNotification({ message: error, type: "error" });
  }
  loading.value = false;
  return;
};
const inputConfigs = [
  {
    inputType: "text",
    placeholder: "Ivan",
    label: "Username",
  },

  {
    inputType: "email",
    placeholder: "nzima.ivan.franck@gmail.com",
    label: "Email",
  },
  {
    inputType: "password",
    placeholder: "7X7n7@i8b5Cw",
    label: "Password",
  },
];
</script>

<template>
  <div class="container">
    <div class="landing relative">
      <h1 class="logo-text">VueChat</h1>
      <div class="landing-img-container">
        <div class="img"></div>
      </div>
    </div>

    <div class="main">
      <div class="techno-logo">
        <div class="techno-logo__vue-js"></div>
        <span class="copy-1">+</span>
        <div class="techno-logo__fire-base"></div>
      </div>
      <div class="sign-up">
        <div class="sign-up__title">
          <h2>Create Account</h2>
          <p class="copy-2 font-mono">
            Already have an account ?
            <span class="btn-text font-mono">
              <RouterLink to="/">Log In</RouterLink>
            </span>
          </p>
        </div>

        <form @submit.prevent="handleSubmit" class="sign-up__form">
          <AppInput
            @on-input="(value) => (form.username = value)"
            v-bind="inputConfigs[0]"
          />
          <AppInput
            @on-input="(value) => (form.email = value)"
            v-bind="inputConfigs[1]"
          />
          <AppInput
            @on-input="(value) => (form.password = value)"
            v-bind="inputConfigs[2]"
          />

          <button type="submit" class="copy-2 btn btn-primary">
            {{ loading ? "Signing Up..." : "Sign Up" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
