<template>
  <div class="conversation">
    <div class="conversation-main">
      <span class="conversation-avatar"> {{ iconSymbol(friendName) }} </span>
      <div>
        <h5 class="copy-3 mb-xs">{{ friendName }}</h5>
        <p class="copy-2 text-gray text-normal">
          {{ lastMessage }}
        </p>
      </div>
    </div>
    <span class="text-gray font-mono note">{{ lastUpdated }}</span>
  </div>
</template>

<script setup>
const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  friendName: {
    type: String,
    required: true,
  },
  lastMessage: {
    type: String,
    required: true,
  },
  lastUpdated: {
    type: String,
    required: true,
  },
});

const iconSymbol = () => {
  return props.friendName.split("")[0].toUpperCase();
};
</script>

<style lang="css" scoped>
.selected {
  background-color: var(--bg);
}
</style>
