<script setup>
defineProps({
  inputType: {
    type: String,
    required: true,
  },
  data: String,
  label: String,
  placeholder: String,
});

const emit = defineEmits(["on-input"]);

const handleTyping = (event) => {
  const value = event.target.value;
  emit("on-input", value);
};
</script>
<template>
  <div class="form-group">
    <label :for="label">{{ label }}</label>
    <input
      :type="inputType"
      :name="label"
      :id="label"
      :placeholder="placeholder"
      required
      @input="handleTyping"
    />
  </div>
</template>
