<template>
  <!-- message -->
  <div
    class="message-container"
    :class="{ 'message-container-primary': isCurrentUserMessageAuthor }"
  >
    <div class="message" :class="{ 'message-primary': isCurrentUserMessageAuthor }">
      <div class="message-body copy-2">
        {{ message }}
      </div>
      <span class="message-time mt-l note">{{
        timestampToDate(date, "dddd,DD,MMMM")
      }}</span>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";
import { useStore } from "vuex";
import { timestampToDate } from "@/helpers";

const props = defineProps({
  message: {
    type: String,
    required: true,
  },
  date: {
    type: Number,
    required: true,
  },
  author: {
    type: String,
    required: true,
  },
});

const store = useStore();

const isCurrentUserMessageAuthor = computed(() => {
  return props.author === store.state.auth.authId ? true : false;
});
</script>

<style lang="css" scoped></style>
