<script setup>
import messageIconUrl from "@/assets/icon/messages.svg";
import { ref, inject } from "vue";
const showModal = ref(inject("showModal"));
</script>

<template>
  <div class="new-conversation" @click="showModal = true">
    <span class="new-conversation__icon">
      <img :src="messageIconUrl" alt="" />
    </span>
    <p class="copy-2">Start new conversation</p>
  </div>
</template>

<style lang="scss" scoped></style>
