<script setup>
import { VueFinalModal } from "vue-final-modal";
import AppInput from "@/components/AppInput.vue";
import { inject, ref } from "vue";
import { useStore } from "vuex";
import useNotifications from "@/composables/useNotifications.js";

const { addNotification } = useNotifications();
const store = useStore();

const showModal = ref(inject("showModal"));
const friendId = ref("");

const inputConfigs = {
  inputType: "text",
  placeholder: "9EobsxFkvTvFEG...",
  label: "Friend ID",
};

const handleCreatingNewChat = async () => {
  if (friendId.value.trim().length !== 28) {
    addNotification({ message: "Invalid ID", timeout: 3000, type: "error" });
    return;
  }

  const result = await store.dispatch("chats/createChat", friendId.value);
  addNotification({ message: result.message, timeout: 5000, type: result.type });

  showModal.value = false;
  console.log(friendId.value);
};
</script>

<template>
  <div>
    <VueFinalModal
      v-model="showModal"
      classes="modal-container"
      content-class="modal-content"
    >
      <span class="modal__title copy-3">Create new chat</span>
      <div class="modal__content copy-1">
        <form @submit.prevent="handleCreatingNewChat">
          <AppInput @on-input="(value) => (friendId = value)" v-bind="inputConfigs" />
        </form>
      </div>
      <div class="modal__action">
        <button class="btn btn-primary copy-2" @click="handleCreatingNewChat">
          Confirm
        </button>
        <!-- <button class="btn btn copy-2 btn-error" @click="showModal = false">
          Cancel
        </button> -->
      </div>
    </VueFinalModal>
  </div>
</template>

<style scoped>
:deep(.modal-container) {
  display: flex;
  justify-content: center;
  align-items: center;
}
:deep(.modal-content) {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.modal__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.2rem;
}
.btn-error {
  background-color: var(--red);
  border-radius: var(--border-radius);
  color: white;
  transition: var(--transition-default);
}
</style>
