<template>
  <div class="message-feed">
    <AppMessage
      v-for="message in messagesList"
      :key="message.id"
      :message="message.message"
      :date="message.createdAt"
      :author="message.author"
    />
  </div>
</template>

<script setup>
import AppMessage from "@/components/AppMessage.vue";

defineProps({
  messagesList: {
    type: Array,
    required: true,
  },
});
</script>

<style lang="css" scoped></style>
