<script setup>
import { useStore } from "vuex";
import { computed, ref } from "vue";
import copyUrl from "@/assets/icon/copy.svg";
import copySuccessUrl from "@/assets/icon/copy-success.svg";
import useNotifications from "@/composables/useNotifications.js";

const { addNotification } = useNotifications();

import * as _ from "lodash";

const store = useStore();
const copyIconUrl = ref(copyUrl);
const authUser = computed(() => {
  return store.state.users.authUser;
});

const handleCopyIdToClipboard = () => {
  if (navigator.clipboard) {
    navigator.clipboard.writeText(authUser.value.uid).then(() => {
      copyIconUrl.value = copySuccessUrl;
      setTimeout(() => {
        copyIconUrl.value = copyUrl;
      }, 3000);
      addNotification({ message: "Id copied to clipboard", timeout: 3000, type: "info" });
    });
  } else {
    addNotification({ message: "Browser not compatible", timeout: 3000, type: "error" });
  }
};
</script>

<template>
  <div class="avatar" v-if="authUser">
    <h3 class="mr-sm avatar-name copy-1">{{ authUser.username }}</h3>
    <div class="note avatar-badge">
      <span id="textToCopy" class="mr-sm">
        {{ `#${_.truncate(authUser.uid, { length: 12, omission: "..." })}` }}
      </span>
      <img
        id="copy-icon-to-clipboard"
        @click="handleCopyIdToClipboard"
        :src="copyIconUrl"
        alt="copy logo"
      />
    </div>
    <!-- <IconArrowDonw /> -->
  </div>
</template>

<style lang="scss" scoped></style>
