<template>
  <div class="conversation-container mt-l">
    <!-- conversation -->
    <AppChat
      :class="{ selected: selectedChat?.id === chat.id }"
      v-for="chat in chatList"
      :key="chat.id"
      :id="chat.id"
      :friendName="getFriendName(chat.members)"
      :lastMessage="chat.lastMessage"
      :lastUpdated="timestampToDate(chat.updatedAt, 'DD/MM/YYYY')"
      @click="handleChatSelect(chat.id)"
    />
  </div>
</template>

<script setup>
import AppChat from "@/components/AppChat.vue";
import { computed, ref, inject } from "vue";
import { useStore } from "vuex";
import { timestampToDate } from "@/helpers";
const store = useStore();

const props = defineProps({
  chatList: {
    type: Object,
    required: true,
  },
});

const selectedChat = ref(inject("selectedChat"));

const authUser = computed(() => {
  return store.state.users.authUser;
});
const getFriendName = (chatMembers) => {
  return Object.keys(chatMembers).find((member) => member !== authUser.value?.username);
};

const handleChatSelect = async (id) => {
  store.commit("chats/setSelectedChatId", id);
};
</script>
