<script setup>
import logoutIconUrl from "@/assets/icon/logout.svg";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

const store = useStore();
const router = useRouter();

async function handleLogout() {
  store.commit("auth/setAuthUserUnsubscribe");
  await store.dispatch("unSubscribeAll");
  await store.dispatch("clearStore", {
    ressources: ["messages", "chats", "auth", "users"],
  });
  await store.dispatch("auth/signOut");
  router.push({ name: "LogIn" });
}
</script>

<template>
  <div @click="handleLogout" class="log-out btn">
    <div class="log-out-container">
      <div class="log-out-icon">
        <img :src="logoutIconUrl" alt="" />
      </div>
      <h5 class="log-out-text note">Log Out</h5>
    </div>
  </div>
</template>
