<template>
  <div :class="{ 'message-input-container': true, 'p-fixed': !showModal }">
    <form @submit.prevent="handleSendMesssage" class="message-input">
      <input v-model="message" type="text" placeholder="Your Message" />
      <button type="submit" class="send-btn btn">
        <img :src="sendIconUrl" alt="" />
      </button>
    </form>
  </div>
</template>

<script setup>
import sendIconUrl from "@/assets/icon/send.svg";
import { ref, inject } from "vue";
import { useStore } from "vuex";

const emit = defineEmits(["on-input-message"]);

//data
const store = useStore();
const message = ref("");
const showModal = ref(inject("showModal"));
const selectedChat = ref(inject("selectedChat"));
//methods
const handleSendMesssage = async () => {
  await store.dispatch("messages/createMessage", {
    message: message.value.trim(),
    selectedChat: selectedChat.value,
  });
  console.log("reset message input");
  message.value = "";
};
const handleTyping = (event) => {
  const value = event.target.value;
  emit("on-input-message", value);
};
</script>
