@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=La+Belle+Aurore&family=Roboto+Mono:wght@400;500;600;700&display=swap&family=Pacifico&display=swap");


:root {
  font-size: 16px;
  --bg: #F4F4F8;
  --dark-blue: #010f20;
  --blue: #034AA3;
  --light-blue: #D9F1FF;
  --red: #C20114;
  --light-red: #ef727f;
  --lightest-red: #f9e6e8;
  --conversation-avatar-color-1: #F5610D;
  --yellow: #FDD601;
  --dark-green: #153A21;
  --green: #00A033;
  --light-green: #CBFEDB;
  --input-bg-color: #E9E5E5;
  --border-color: #6D6A6A;
  --gray: #6D6A6A;
  --transition-default: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --padding-xl: 0px 150px;
  --padding-lg: 0px 100px;
  --padding-sm: 0px 50px;
  --padding-xs: 0px 25px;
  --fz-xs: 13px;
  --fz-normal: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 24px;
  --fz-heading: 36px;
  --msg-input-shadow: 0px 15.8196px 4.5321px -6.84091px rgba(33, 37, 41, 0.05), 0px 32.6653px 25.5679px -6.84091px rgba(33, 37, 41, 0.11), 0px 37.625px 68.4091px -6.84091px rgba(33, 37, 41, 0.18);
  --border-radius: 5px;
  --border-radius-l: 8px;
  --tab-height: 90px;
  --conversation-height: 30px;
  --msg-width: 400px;
  --blue-shadow: rgb(144 147 153 / 60%);
  --landing-img-height: 400px;
  --techno-logo-height: 65px;
  --techno-logo-width: 75px;
}

body {
  font-family: "Inter", sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: var(--dark-blue);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}