@import './base.css';

.heading--xl {
  font-size: clamp(40px, 8vw, 70px);
  font-weight: 700;
  line-height: 1.1;
}

.heading--lg {
  font-weight: 500;
  font-size: var(--fz-xl);
  margin: 8px 0px 8px;
}

.heading {
  font-size: clamp(26px, 5vw, var(--fz-heading));
  font-weight: 700;
  margin: 10px 0 40px;
}

.copy-1 {
  font-size: var(--fz-xl);
  font-weight: 400;
}

.copy-3 {
  font-size: var(--fz-lg);
  font-weight: 500;
}

.copy-2 {
  font-size: var(--fz-md);
  font-weight: 400;
}

.note {
  font-size: var(--fz-xs);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.link-2 {
  font-size: var(--fz-normal);
  font-family: "Roboto Mono", monospace;
}

/*
*Import components sccs files from './components/
*@import "components/xxxx
*/
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
}
.btn-text {
  display: inline-block;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  color: var(--blue);
  padding-bottom: 4px;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: var(--transition-default);
}
.btn-text:hover, .btn-text:active, .btn-text:focus {
  color: var(--color-primary-300);
  transform: translateY(-1px);
}
.btn-primary {
  background-color: var(--dark-green);
  border-radius: var(--border-radius);
  color: white;
  transition: var(--transition-default);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  transition: all linear 0.1s;
  border-radius: var(--border-radius);
  background-color: #1a4721;
}
.btn-secondary {
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 0.5rem;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: var(--color-secondary-500);
  transform: scale(1.03);
  transition: all linear 0.1s;
}
.btn-black {
  background-color: var(--color-black);
  color: #fff;
  border-radius: 0.5rem;
}
.btn-black:hover {
  transform: scale(1.03);
  transition: all linear 0.1s;
}

.logo-text {
  font-family: "Pacifico", cursive;
  font-size: clamp(24px, 4vw, 4rem);
  color: var(--dark-green);
}
.logo-text__sm {
  font-size: clamp(18px, 4vw, 3rem);
  font-family: "Pacifico", cursive;
  color: var(--dark-green);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}
.form-group label {
  font-size: var(--fz-md);
  font-weight: 400;
  font-weight: 500;
  margin-bottom: 8px;
}
.form-group p {
  margin-top: 4px;
  color: var(--red);
}

input {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-bg-color);
  border-radius: var(--border-radius);
  padding: 8px;
  color: var(--gray);
  outline: none;
  font-size: var(--fz-md);
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}
input:focus {
  border: 2px solid var(--gray);
}

.input-error {
  border: 2px solid var(--red);
  background-color: var(--lightest-red);
}
.input-error:focus {
  border: 2px solid var(--red);
  background-color: var(--lightest-red);
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12px 0px;
}
.avatar-name {
  font-weight: 500;
}
.avatar svg {
  cursor: pointer;
}
.avatar-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  background-color: var(--light-green);
  color: var(--green);
  font-weight: 700;
  padding: 4px 8px;
  border: 1px solid var(--light-green);
  border-radius: var(--border-radius-l);
  cursor: pointer;
}

.new-conversation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  cursor: pointer;
}
.new-conversation__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-right: 8px;
  background-color: var(--light-blue);
  border-radius: 50%;
}
.new-conversation p {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition-default);
  cursor: pointer;
  color: var(--blue);
  font-weight: 500;
}
.new-conversation p:hover, .new-conversation p:active, .new-conversation p:focus {
  color: var(--blue);
  outline: 0;
}

.conversation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 12px;
}
.conversation:hover, .conversation:active, .conversation:focus {
  background-color: var(--bg);
}
.conversation-main {
  display: flex;
  flex-direction: row;
}
.conversation-avatar {
  position: relative;
  padding: 8px 12px;
  background-color: var(--conversation-avatar-color-1);
  border-radius: 100%;
  color: white;
  height: max-content;
  margin-right: 8px;
}

.time-checkpoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  margin: 12px 0px;
}
.time-checkpoint span {
  background-color: var(--light-blue);
  padding: 4px 8px;
  border-radius: var(--border-radius-l);
  font-weight: 600;
}

.message {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  width: var(--msg-width);
  border-radius: var(--border-radius);
}
.message-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 12px;
}
.message-container-primary {
  justify-content: flex-end;
}
.message-time {
  align-self: flex-end;
}
.message-primary {
  background-color: var(--light-green);
}
.message-feed {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg);
  min-height: 100vh;
  width: 100%;
}
.content .left {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 22vw;
  min-height: 100%;
  box-shadow: var(--msg-input-shadow);
  background-color: white;
}
.content main {
  margin-left: 22vw;
  justify-self: end;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 28px 12px 0px 12px;
}
header .log-out {
  bottom: 0px;
  left: 0px;
  padding: 4px 0px;
  width: 100%;
  background-color: var(--lightest-red);
}
header .log-out-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .log-out-text {
  margin-left: 12px;
  font-weight: 500;
  color: var(--red);
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.contact-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-container {
  width: 100%;
}
.contact-container .search input[type=text] {
  background-image: url("/src/assets/img/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 100%;
}
.contact-container .search {
  width: 100%;
  padding: 0px 12px;
  margin-bottom: 28px;
}

.message-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.message-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.message-input-container {
  padding: 12px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0px -15.8196px 4.5321px -6.84091px rgba(33, 37, 41, 0.05), 0px -32.6653px 25.5679px -6.84091px rgba(33, 37, 41, 0.11), 0px -37.625px 68.4091px -6.84091px rgba(33, 37, 41, 0.18);
}
.message-input input {
  background-color: white;
  border: 1px solid var(--gray);
  width: 70vw;
  background-image: url("/src/assets/img/message.png");
  background-position: 14px 10px;
  background-repeat: no-repeat;
  padding-left: 55px;
}
.message-input button {
  background-color: var(--dark-green);
  border-radius: var(--border-radius);
  margin-left: 12px;
}

/*
*Import components sccs files from './pages/
*@import "components/xxxx
*/
.container {
  display: inline-block;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: clamp(40vw, 200px, 60vw);
  background-color: var(--yellow);
}
.container .landing-img-container {
  width: 100%;
  height: var(--landing-img-height);
}
.container .landing-img-container .img {
  background-image: url(/src/assets/img/chat-bg.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  padding: 0px 70px;
}
.container .main .techno-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 32px 0px;
}
.container .main .techno-logo__vue-js {
  background-image: url(/src/assets/img/vuejs.png);
  width: var(--techno-logo-width);
  height: var(--techno-logo-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container .main .techno-logo__fire-base {
  background-image: url(/src/assets/img/firebase.png);
  width: var(--techno-logo-width);
  height: var(--techno-logo-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container .main .sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .main .sign-up__title {
  display: flex;
  flex-direction: column;
}
.container .main .sign-up__title h2 {
  margin: 8px 0px;
}
.container .main .sign-up__title p span {
  font-weight: 500;
}
.container .main .sign-up .sign_error {
  margin-top: 12px;
  font-weight: 500;
  color: var(--red);
}
.container .main .sign-up__form {
  margin-top: 28px;
  max-width: 520px;
}
.container .main .sign-up__form button {
  margin-top: 32px;
}

@media (max-width: 768px) {
  main .landing {
    display: none;
  }
}
.px-sm {
  padding: 0px 8px;
}

.pr-sm {
  padding-right: 8px;
}

.mr-sm {
  margin-right: 8px;
}

.mt-l {
  margin-top: 16px;
}

.mb-xs {
  margin-bottom: 4px;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.text-gray {
  color: var(--gray);
}

.text-normal {
  font-size: var(--fz-normal);
}

.p-fixed{
  position: fixed;
}