<script setup>
import AppNotifications from "@/components/AppNotifications.vue";
import AppSpinner from "@/components/AppSpinner.vue";
import { ref } from "vue";

const showPage = ref(false);

function onPageReady() {
  console.log("page ready");
  showPage.value = true;
}
</script>

<template>
  <RouterView v-show="showPage" @ready="onPageReady" />
  <AppSpinner v-show="!showPage" />
  <AppNotifications />
</template>

<style scoped></style>
